*{
    margin: auto;
}
html, body{
    width: 100%;
    margin: 0;
}
body{
    height: 100vh;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;
    height: 100%;
}

.disableFromInteractions{
    pointer-events: none;
    cursor: not-allowed;
}
.noDisplay{
    display: none;
}
.greyColorBorder{
    border-color: darkslategray;
    color: darkslategray;
}
